*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: grey;
}
.heading{
    text-align:center;
    margin:34px;
    font-size:30px;
}
.aboutInfo{
    color:white;
     margin:0px 23px;
}.about{
    margin:45px;
    display:flex;
    justify-content: center;
    min-height:400px;
 }
 
 .mission{

    background-color: rgb(192, 181, 181);
     height:320px;
     margin:14px;
     max-width:320px;
     box-shadow: 3px 5px 5px rgba(1,1,1,0.2);
     border-radius: 1rem;
 }
.mission img{
    display:flex;
    margin:auto;
    height:45px;
    width:45px;
 }
 .vision{
    background-color: rgb(192, 181, 181);
     height:320px;
     margin:14px;
     max-width:320px;
    box-shadow: 3px 5px 5px rgba(1,1,1,0.2);
     min-height: 220px;
     border-radius: 1rem;
   
 }
 .vision img{
    display:flex;
    margin:auto;
    height:45px;
    width:45px;
 }
 .achieve{
    background-color: rgb(192, 181, 181);
    /* background-color: white; */
     height:320px;
     margin:14px;
     max-width:320px;
     box-shadow: 3px 5px 5px rgba(1,1,1,0.2);
     min-height: 220px;
     border-radius: 1rem;
 
 }
 .achieve img{
    display:flex;
    margin:auto;
    height:45px;
    width:45px;
 }
 .mission:hover{
    background-color :lightblue;
     transform:scale(1.02);
     cursor:pointer;
     transition: 0.3s ease-in-out;
 }
 .vision:hover{
    background-color :lightblue;
     transform:scale(1.02);
     cursor:pointer;   
     transition: 0.3s ease-in-out;
 }
 .achieve:hover{
    background-color :lightblue;
     transform:scale(1.02);
     cursor:pointer;  
     transition: 0.3s ease-in-out;
 }
 .footer{
    background-color: black;
    color:white;
    height:50px;
  
    text-align:center;
    padding:12px;

 }
 h2{
    font-size:1.5rem;
    margin: 30px 114px;
 }
p{
    padding:2px 32px;;
}